.footer
  width 100%
  padding 10px 100px
  border-top 1px solid #edeeee
  background #fbfbfb
  position relative
  z-index 2
  top 50px
  &-logo
    font-size 18px
    font-family 'Pacifico'
    text-decoration none
    color #565656
    position relative
  &-other
    font-size 18px
    position relative
    float right

