.oops
  margin 0 auto
  padding-top 180px
  width 700px
  &-title
    font-size 56px
    margin-bottom 10px
    display block
  &-sub
    font-size 23px
    line-height 30px
    margin-bottom 15px
    display block
  &-link
    font-size 14px
    text-decoration underline
    display block


