.oops
  margin 0 auto
  padding-top 180px
  width 700px
  &-title
    font-size 100px
    margin-bottom 20px
    font-weight 600
    display block
  &-sub
    font-size 24px
    line-height 30px
    margin-bottom 15px
    display block
  &-link
    font-size 14px
    text-decoration underline
    display block
  &-error
    float right


