@import '../base/utils.styl'

.correct-message
  margin 10px auto
  width 100%
  line-height 34px
  display block
  text-align center
  color: green
  border: 1px solid #76C776
  &:before
    content ''
    icon-helper('./img/correct.png')
    position absolute
    margin-left -25px
    margin-top 8px
