@import '../../../../node_modules/normalize-styl/index.styl'

body, html
  width 100%
  height 100%
  font-family 'OpenSans'
  div, span, a
    box-sizing border-box
    color #565656
    -webkit-font-smoothing antialiased